/* ==UserStyle==
@name           canvas-dark
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */
@-moz-document url-prefix("https://poway.instructure.com/courses/"),
url-prefix("https://poway.instructure.com/") {

    /* Example: Change background and text colors */
    body {
        background: #111111 !important;
        /* Dark background */
        color: #ffffff !important;
        /* Light text */
    }

    a {
        color: #a9a9a9;
    }

    .header-bar {
        /* collapse all button */
        background: #111111 !important;
        /* Dark background */
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        margin-right: 48px;
    }

    .context_module {
        /* course material in modules */
        margin-right: 48px;
        margin-left: 48px;
    }


    .item-group-container {
        background: #111111 !important;
        /* Dark background */
    }

    .item-group-condensed .ig-header {
        background: #373737 !important;
        color: white;
    }

    .ig-header .name {
        color: white;
        text-shadow: 1px 1px 0 rgba(255, 255, 255, 0);
    }

    .item-group-condensed .ig-row {
        background: #373737 !important;
    }

    .ig-list .ig-row {
        color: white;
    }

    .ig-list .ig-row a.ig-title {
        color: #f5f5f5;
    }

    .ic-app-header {
        background-color: #373737;
    }

    .ic-app-header__menu-list-item.ic-app-header__menu-list-item--active .ic-app-header__menu-list-link {
        background: white;
    }

    .ic-app-header__logomark-container {
        background-color: #373737;
    }

    #breadcrumbs {
        background-color: rgba(255, 255, 255, 0)
    }

    #breadcrumbs>ul>li+li:last-of-type a {
        color: white;
    }

    .list-view a.active {
        color: white;
        border-left: 2px solid white;
    }

    .btn-link,
    .Button--link {
        color: white;
    }

    .module-sequence-footer .module-sequence-footer-content {
        background: rgba(255, 255, 255, 0);
    }

    .Pages {
        background-color: black !important;
    }

    .btn,
    .css-1rpus1y-baseButton__content {
        color: white;
        background: rgb(93, 93, 93);
        border-color: rgba(219, 219, 219, 0);
    }

    .pages.show .course-title {
        color: white;
    }

    .css-1gto5tw-tray {
        /* the slide out tray when you click courses */
        /* background-color: #5d5d5d; */
        backdrop-filter: blur(30px);
        /* background: transparent; */
        background: rgb(93, 93, 93, 0.1);
    }

    .css-12w1q2i-baseButton__content {
        /* x button on slideout tray */
        color: white;
    }

    .css-1b48q7o-view-link:is(a) {
        color: white;
    }

    .css-1sr6v3o-text {
        color: #a9a9a9;
    }

    .ic-app-header__menu-list-item.ic-app-header__menu-list-item--active .ic-app-header__menu-list-link {
        /* the icon youre on like dashboard */
        background: #5d5d5d;
    }

    .ic-app-header__menu-list-item.ic-app-header__menu-list-item--active .ic-icon-svg {
        fill: white;
    }

    body.primary-nav-expanded .ic-app-header__menu-list-item.ic-app-header__menu-list-item--active .menu-item__text {
        color: white;
    }

    .css-1vfp3rz-text {
        color: rgba(219, 219, 219, 0);
    }


    .css-1b48q7o-view-link:is(a):hover,
    .css-1b48q7o-view-link:is(button):hover,
    .css-1b48q7o-view-link:is(a):active,
    .css-1b48q7o-view-link:is(button):active {
        /* courses > links to the courses */
        color: white;
    }

    .Day-styles__root {
        /* the dashboard section */
        background: #111111;
        color: white;
    }

    .css-1ns2r3i-view-heading {
        /* the date for assignments */
        color: white;
    }

    .PlannerItem-styles__due,
    .PlannerItem-styles__score,
    .css-qbjizl-text {
        /* assignment class and name */
        color: #a9a9a9;
    }

    .Grouping-styles__title {
        /* the mini icon for the assignment */
        background-color: #5d5d5d;
        color: white;
    }

    .Grouping-styles__title::after {
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #5d5d5d 100%);
    }

    .ic-Dashboard-header__layout {
        /* dashboard banner */
        /* background: #111111; */
        backdrop-filter: blur(30px);
        /* background: transparent; */
        background: rgb(93, 93, 93, 0.1);
    }

    .PlannerHeader-styles__root {
        /* dashboard buttons */
        background: #5d5d5d;
        border-radius: 5px;
    }

    .css-1eaecfq-baseButton__content {
        color: white;
    }

    .css-p3olqp-baseButton__content {
        /* today button */
        background-color: #a9a9a9;
    }

    .StickyButton-styles__root {
        /* new activity */
        /* background-color: #5d5d5d; */
        margin-right: 48px;
        backdrop-filter: blur(30px);
        background: rgb(93, 93, 93, 0.1);
    }

    /* ################### announcements ################### */
    .css-1osm78b-view-alert,
    .css-pkzi3c-view-alert,
    .ic-notification__content,
    .notification_account_content {
        /* announcements */
        background: #5d5d5d;
    }

    .css-pkzi3c-view-alert,
    .ic-notification {
        border: 2px solid #a9a9a9;
    }

    .css-1nz9urh,
    .ic-notification__icon {
        background: #a9a9a9
    }

    .css-1nz9urh {
        border-right: 0.125rem solid rgb(3, 116, 181, 0)
    }

    .css-pkzi3c-view-alert {
        color: white;
    }

    .css-1mnegct-baseButton__content {
        background: #a9a9a9;
    }


    /* ################### announcements ################### */
    /* ################### Nothing planned banner ################### */
    .EmptyDays-styles__root {
        /* Nothing planned banner */
        background-color: #0D1B2A;
        border-radius: 10px;
        padding: 15px;
        border-bottom: solid 0px;
    }

    path[fill="#67C1F0"] {
        fill: #145a32;
    }

    path[fill="#9BE1A4"] {
        fill: #196f3d;
    }

    /* mountains */
    path[fill="#231F20"] {
        stroke: #34495e;
    }

    path[stroke="#231F20"] {
        stroke: #2c3e50;
    }

    path[stroke="#C0C6CB"] {
        stroke: #34495e
    }


    /* hammock */
    path[stroke="#FDBD99"] {
        fill: #1c2833;
    }

    /* cloud */
    path[fill="#E5E7E9"] {
        fill: #0d1b2a;
    }

    path[stroke="#231F20"] {
        stroke: #0d1b2a !important;
    }

    /* tree stems */
    path[stroke="#0E1D25"] {
        stroke: black;
    }

    .EmptyDays-styles__root {
        color: white;
    }

    /* ################### inbox ################### */
    .css-vxe90h-view--inlineBlock {
        background: #5d5d5d;
    }

    .element {
        background-color: #5d5d5d;
    }


    /* ################### dashboard top bar ################### */
    #dashboard-planner {
        padding-right: 48px;
        padding-left: 48px;
    }

    .large,
    ic-Dashboard-header__layout {
        padding-right: 48px;
        padding-left: 48px;
    }

    #dashboard_header_container {
        margin-right: -48px;
        margin-left: -48px;
    }

    /* ################### assignment submission ################### */
    #submit_online_upload_form {
        background-color: #373737;
        border-color: transparent;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        color: white;
    }

    #submission_comment {
        background-color: #5d5d5d;
        color: white;
    }

    /* file type tabs */
    .ui-tabs .ui-tabs-nav {
        background-color: #373737;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border: none;
    }
    
    .ui-tabs .ui-tabs-nav li.ui-tabs-active {
        background: #a9a9a9;
        color: white;
        border: none;
    }
    
    .ui-tabs .ui-tabs-nav li.ui-state-hover, .ui-tabs .ui-tabs-nav li:hover {
        border-color: transparent;
        background: #5d5d5d;
        border: none;
    }
    
    .ui-state-default.ui-corner-top {
        border-radius: 10px;
    }
    
    .ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all {
        padding: 10px;
    }
    
    .ui-tabs .ui-tabs-nav li a {
        color: white;
    }
    
    .css-17ds6fy-view-tag {
        background-color: #a9a9a9;
        border: none;
    }
    
    /* submit box */
    .css-1uzu84j-view {
        background: none;
        color: white;
    }


    /* ################### upcoming assignments section ################### */
    .accessible-toggler {
        color: white;
    }

    /* ################### view text submission ################### */
    #submission_preview {
        background-color: #373737;
        border-radius: 15px;
    }

    .submission-details-container {
        border-radius: 15px;
        padding: 5px;
        border: solid 2px transparent;
    }

    .submission-details-comments .comments {
        background-color: #5d5d5d;
        color: white !important;
        border-radius: 15px;
        border-color: transparent;
        box-shadow: -10px 0px 15px -5px rgba(0, 0, 0, 0.5);
    }

    div.comment>span.comment_content {
        /* Your CSS styles */
        color: white;
    }

    select {
        background-color: #5d5d5d;
        color: white;
        border: 1px solid transparent;
    }

    /* ################### grades ################### */
    table.summary td,
    table.summary tbody th {
        background-color: transparent;
    }

    .ic-Table.ic-Table--hover-row tbody tr:hover,
    .ic-Table.ic-Table--hover-row tbody tr.ic-Table__row--bg-neutral:hover,
    .ic-Table.ic-Table--hover-row tbody tr.ic-Table__row--bg-success:hover,
    .ic-Table.ic-Table--hover-row tbody tr.ic-Table__row--bg-alert:hover,
    .ic-Table.ic-Table--hover-row tbody tr.ic-Table__row--bg-danger:hover {
        background-color: #5d5d5d;
    }

    /* "Submitted!" text     */
    #right-side .details .header {
        color: #4bb543;
    }

    /* submission details pane */
    #right-side-wrapper {
        padding: 48px;
    }

    /* ################## calendar ###################### */
    #calendar-app .fc-month-view .fc-body,
    #calendar-drag-and-drop-container .fc-month-view .fc-body {
        background-color: #373737;
    }

    .fc-unthemed td.fc-today {
        background: #5d5d5d;
    }

    /* mini calendar bg */
    #minical {
        background: #373737;
    }

    /* mini calendar numbers */
    .fc-day-number {
        color: white;
    }

    /* mini calendar month */
    #minical .fc-toolbar h2,
    #minical .fc-toolbar .h2 {
        color: white;
    }

    .fc-state-default {
        color: white;
    }

    /* list to choose what events are on calendar */
    #calendar-list-holder,
    #other-calendars-list-holder,
    #undated-events {
        background-color: #111111;
    }

    /* make new event */
    .ui-widget-overlay {
        backdrop-filter: blur(30px);
        background: rgb(93, 93, 93, 0.1);
    }

    .ui-dialog .ui-dialog-titlebar.ui-widget-header,
    .ui-dialog .ui-datepicker .ui-widget-header.ui-datepicker-header,
    .ui-datepicker .ui-dialog .ui-widget-header.ui-datepicker-header,
    .ui-tabs .ui-tabs-panel {
        background: #373737;
        color: white;
    }

    /* new event input label*/
    .css-j68kdy-formFieldLabel {
        color: white;
    }

    /* new event input*/
    .css-1mtgjqq-textInput:is(input)[type] {
        background-color: #5d5d5d;
        color: white;
        border-radius: 0.0625rem;
    }


    /* ################### announcements ################### */
    .css-1vqfmz1-view {
        background-color: #373737;
        border-style: none;
    }

    .css-1vqfmz1-view.css-1vqfmz1-view.css-1vqfmz1-view.css-1vqfmz1-view.css-1vqfmz1-view.css-1vqfmz1-view.css-1vqfmz1-view.css-1vqfmz1-view.css-1vqfmz1-view.css-1vqfmz1-view {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .css-sg1rn7-view {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: #373737;
        padding: 20px !important;
    }
}
