/* ==UserStyle==
@name           classlink-launchpad
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */
@-moz-document url-prefix("https://launchpad.classlink.com/") {
    .lp-login-body {
        background-color: #130f40;
        background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
    }

    .lp-login-left-bar {
        background: rgb(93, 93, 93, 0.2);
    }

    #generic_login {
        background: #19273b;
        backdrop-filter: blur(30px);
    }

    .lp-login-form-heading,
    .unable-find-sch {
        color: white;
    }

    .search-bar > input {
        background: #3b5a88;
        border: 2px solid #082e41;
    }

    .lp-login-footer {
        background-color: #373737;
        padding-bottom: 10px;
    }

    .lp-login-footer-logo-container {
        display: none;
    }

    .lp-login-footer-app-links {
        visibility: hidden;
    }

    .building-icon {
        display: none;
        visibility: hidden;
    }

    .list-item-left .item-header {
        color: white;
    }

    button.dropdown-list-item:hover::before {
        background-color: #243855;
    }
}
